h2.olfa {
  padding: 5px;
  color: black;
  text-align: center;
}
h3{
  margin:15px;
}
.floa,.flob,.floc {
  border: 4px double black;
  width: 300px;
  height: 390px;
}
.floa{
  background-image: url(Images/floral1.png);
}
.flob{
  background-image: url(Images/floral4.png);
}
.floc{
  background-image: url(Images/floral3.png);
}
section.flosec {
  width: 1440px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .floa {
    width: 220px;
  }
  main.flo {
    width: 768px;
  }
}
