.storenav {
  width: 800px;
  height: 90px;
  margin: 10px 320px;
  border: 2px solid black;
}

.storenav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sh,
.ca,
.we {
  position: relative;
  top: 0px;
  width: 190px;
  height: 50px;
  font-size: 1.5em;
  border: 6px double black;
  background-color: rgb(119, 241, 57);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(214, 233, 11, 0.885)
  );
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.6),
    inset -4px -4px 3px rgba(0, 0, 0, 0.6);
  outline: none;
  cursor: pointer;
}
.sh:hover,
.ca:hover,
.we:hover {
  background-color: yellow;
  color: red;
}
.we:hover {
  color: blue;
}
@media screen and (max-width: 768px) {
  .storenav {
    width: 48em;
    margin: 10px 10px;
  }
}
@media screen and (max-width: 375px) {
  .storenav {
    width: 375px;
    border:none;
  }
  .storenav ul {
    height:14em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .sh,
  .ca,
  .we {
    height:50px;
    width: 150px;
  }
}
