*{
  box-sizing: border-box;
}
.cp{
  paddinG:5px;
  width: 120px;
  height: 30px;
  border: 2px double darkorange;
  color:white;
  text-decoration:none ;
}
h4{
color:greenyellow;
text-align: center;
}
item-link{
  margin:10px;
  width:300px;
  border: 2px double darkorange;
 }
.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 330px;
  background-color: black;
  color: white;
}
.pimg {
  width: 200px;
  height: 200px;
  border: 4px double darkorange;
}
.price {
  padding: 15px;
  width: 100px;
  height: 50px;
  border: 2px double darkorange;
}
.pn {
  padding:10px 15px;
  border: 2px double darkorange;
  width: auto;
}
.pt {
  padding:8px;
  border: 2px double darkorange;
  width: 250px;
}
.pp {
  padding:5px;
  border: 2px double darkorange;
  color:white;
  text-decoration:none ;
  cursor:pointer;
}
