.storepage {
  background-color: rgb(75, 121, 7);
}
.content{
  height:850px;
}
.minus {
  width: 30px;
  height: 40px;
  outline: none;
}
span.count {
  width: 35px;
  height: 40px;
  position: relative;
  border: 3px double black;
  color: black;
  font-size: 2em;
}
.plus {
  width: 30px;
  height: 40px;
  outline: none;
}
.cpmanage {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 30px;
}
.cpitems {
  width: 1440px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cpitem {
  margin: 30px;
  width: 400px;
  height: 220px;
  border: 2px solid orange;
}
.rfc {
  widows: 8em;
  height: 2em;
  position: relative;
  left: 10px;
  background-color: red;
  color: white;
}

.total {
  background-color: yellow;
  height:30px;
  margin-left:30px;
  margin-top:30px;
  padding:5px;
}
@media screen and (max-width: 768px) {
  .content{
    width:768px;
    height:2300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cpitems {
    width: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cpitem {
    margin: 10px;
    width: 280px;
    height: 380px;
    border: 2px solid orange;
  }
  
}
@media screen and (max-width: 375px) {
  .storepage {
    height: 3300px;
  }
}
