.weapp {
  display: flex;
  flex-direction: column;
  position: relative;
  left:840px;
  align-items: flex-end;
  width: 500px;
  height: 470px;
  text-align: center;
  padding: 10px;
  font-size: 1em;
  color: white;
}
.search {
  position: relative;
  top: 20px;
  left:5.5em;
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  border: 6px double black;
  background-color: rgb(3, 232, 248);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(214, 233, 11, 0.885)
  );
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.6),
    inset -4px -4px 3px rgba(0, 0, 0, 0.6);
  outline: none;
  cursor: pointer;
}

.stormy {
  position: relative;
  right: 30px;
  background-color: darkslateblue;
}
.stormy1 {
  position: relative;
  left: 30px;
  background-color: darkslateblue;
}

@media screen and (max-width: 375px) {
  .search {
    position: relative;
    bottom: 150px;
    left: 80px;
    height: 50px;
    font-size: 0.75rem;
    line-height: 1.75;
  }
}
