.form {
  position: relative;
  top: 30px;
  left: 465px;
  background: linear-gradient(rgb(111, 247, 44), rgba(44, 245, 218, 0.5));
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  width: 450px;
  height: 470px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  color: black;
  font-weight: bold;
}
.bh {
  position: relative;
  top: 60px;
  left: 140px;
  background-color: chartreuse;
  font-size: 0.75em;
  padding: 5px;
  text-decoration: none;
}
.contact {
  color: rgb(241, 70, 8);
  height: 510px;
  position: relative;
  top: -30px;
}
input {
  border: 3px double green;
  height: 50px;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .form {
    position: relative;
    top: 40px;
    left: 150px;
    align-items: center;
  }
  .bh {
    position: relative;
    top: 80px;
    left: 0px;
    background-color: chartreuse;
    font-size: 0.75em;
    padding: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 5px black;
  }
}
@media screen and (max-width: 375px) {
  .form {
    width: 340px;
    position: relative;
    top: 40px;
    left: -5px;
    align-items: center;
  }
  .bh {
    position: relative;
    top: 80px;
    left: 0px;
    background-color: rgb(241, 70, 8);
    font-size: 0.75em;
    padding: 5px;
    text-decoration: none;
    color: white;
  }
}
