.main {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 560px;
}
.box2 {
  height: 560px;
  width: 240px;
  background-color: rgb(41, 2, 10);
}
.box3 {
  height: 560px;
  width: 100px;
  background-color: rgb(41, 2, 10);
}
