article.plaa,article.plab,article.plac{
  margin:20px;
  border:4px double black;
  width:300px;
  height:400px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
color:white;
}

h2 {
  color: white;
  text-align: center;
}
h3{
  color: white;
  text-align: center;
}
li{
  margin:15px;
  border:2px solid orange;
}

main.plpg {
  width: 1440px;
  height: 590px;
  background: linear-gradient(rgb(2, 131, 60), rgb(6, 240, 26));
}
ol{
  margin:10px;
}
.plant{
  text-decoration:none ;
  color:white;
  cursor:pointer;
}

section.plantsec{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

}
span{
  font-style: italic;
  font-size:80% ;
}
@media screen and (max-width: 768px) {
main.plpg{
  width:768px;
}

}