section.display {
  background-color: rgb(15, 138, 4);
  height: 1600px;
  width:1440px;
}
h1.dis {
  margin: 0 auto;
  padding: 5px;
  background-color: rgb(195, 155, 231);
  color: black;
  width: 300px;
}
.img {
  position: relative;
  top: 25px;
  left: 120px;
}
.plantitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}
.name {
  position: relative;
  top: 25px;
  left: 25px;
  font-family: Arial Black, Helvetica, sans-serif;
  color: black;
}
.plantcard {
  margin:15px;
  background-color: rgb(252, 241, 159);
  width: 400px;
  height: 450px;
  position: relative;
  top: 30px;
}
