.item-one {
  margin: 30px;
  background-color: black;
  width:200px;
  height:200px;
}
.iimg {
  width: 200px;
  height: 195px;
}
h2.iid {
  padding: 4px;
  text-align: center;
}
p.ipt {
  text-align: center;
  font-size: 1.5em;
  color:white;
}
h4.cost {
  padding:5px;
  text-align: center;
  width: 200px;
  color: white;
  font-size:1.5em ;
  border:3px double white
}
