.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 260px;
  position: relative;
  top: 75px;
  padding: 5px;
}
.add {
  width: 50px;
  height: 50px;
  font-size: 2em;
  outline: none;
}
.atc {
  width: 50px;
  height: 50px;
  font-size: 2em;
  outline: none;
}
.less {
  width: 50px;
  height: 50px;
  font-size: 2em;
  outline: none;
}

.cart {
  width: 1440px;
  height: 575px;
  background: linear-gradient(rgb(235, 143, 110), rgb(241, 70, 8));
}
.cpcards {
  height: 485px;
}
.cptitle {
  position: relative;
  top: 35px;
  text-align: center;
}
h2.cp {
  width: 1440px;
  padding: 15px;
  color: black;
  text-align: center;
}
.cpi {
  margin: 20px;
  background-color: black;
  width: 260px;
  height: 440px;
}
.cpitems {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 20px;
}
.item-link {
  padding: 10px;
  width: 157px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 1.5em;
  background-color:black;
  border: 3px solid rgb(245, 68, 3);
  text-decoration: none;
}
.item-link:hover {
  background-color: rgb(226, 226, 5);
  color: black;
}
.qty {
  color: white;
  font-size: 2em;
}
.pp {
  position: relative;
  top: 90px;
  left: 60px;
  border: 4px double darkorange;
  background-color: rgb(19, 1, 15);
}
.pp:hover {
  background-color: rgb(243, 4, 191);
}
@media screen and (max-width: 768px) {
  .cart {
    width: 768px;
  }
  .cpitems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 768px;
    height: 100px;
  }
  .cptitle {
    position: relative;
    top: 10px;
    text-align: center;
  }

  .item-link {
    text-align: center;
    width: 126px;
    border-radius: 20px;
    margin: 5px;
  }
}
