.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 260px;
  position: relative;
  top: 75px;
  padding:5px;
}
.add {
  width: 50px;
  height: 50px;
  font-size: 2em;
  outline: none;
}
.atc {
  width: 50px;
  height: 50px;
  font-size: 2em;
  outline: none;
}
.less {
  width: 50px;
  height: 50px;
  font-size: 2em;
  outline: none;
}

.cart {
  width: 1440px;
  height: 565px;
  background: linear-gradient(rgb(235, 143, 110), rgb(241, 70, 8));
}
.cptitle {
  position: relative;
  top: 35px;
  text-align: center;
}
h2.cp {
  width: 1440px;
  padding: 15px;
  color: black;
  text-align: center;
}
.cpi{
  height:400px;
  margin:20px;
  background-color: black;
  width:260px;
}
.cpitems {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 20px;
}
.item-link {
  padding: 10px;
  width: 160px;
  height: 50px;
  color: white;
  font-size: 1.5em;
  background-color: black;
  text-decoration: none;
}
.qty {
  color: white;
  font-size: 2em;
}
.pp {
  position: relative;
  top: 120px;
  left: 60px;
  border: 4px double darkorange;
  background-color: rgb(19, 1, 15);
}
