.header {
  display: flex;
  flex-direction: row;
  background-image: url(Images/ylang1.png);
  height: 7.5em;
}
.green {
  height: 100px;
  position: relative;
  top: 0.7em;
  left: 5em;
  z-index: 1;
  border: 2px solid yellow;
}
.header h1 {
  position: relative;
  top: 0.2em;
  left: 5em;
  color: rgb(241, 68, 4);
  font-size: 5em;
  text-shadow: 3px 3px 3px yellow;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .header {
    width: 768px;
  }
  .header h1 {
    position: relative;
    left: 3em;
    top: 0.4em;
    font-size: 4em;
  }
}
@media screen and (max-width: 375px) {
  .header {
    background-image:none;
    background-color: rgb(8, 99, 4);
    height: 13em;
    width:375px;
    display: flex;
    flex-direction:column;
  }
  .green {
    width: 90px;
    position: relative;
    left:8.9em;
    top:1em;
  }
.header h1{
  position:relative;
  left:0px;
  
}
}
