* {
  box-sizing: border-box;
  margin:0px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(241, 70, 8);
  height: 100px;
  padding-inline-start:0px; 
}
nav ul li {
  display: flex;
}
.home,
.shop,
.plants,
.cabinet,
.cartp {
  position: relative;
  width: 235px;
  height: 60px;
  line-height: 1.5;
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 1px #000;
  border: 6px double black;
  background-color: rgb(78, 211, 12);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(214, 233, 11, 0.885)
  );
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.6),
    inset -4px -4px 3px rgba(0, 0, 0, 0.6);
  outline: none;
}
