.emptycart{
  height:500px;
  margin:0 auto;
  background-color:rgb(75, 121, 7) ;
}
h1 {
  position: relative;
  top: 27px;
  text-align:center;
  color: white;
}
.emptycart h2 {
  position: relative;
  top: 147px;
  color: white;
}
