.emptycart{
  height:470px;
  margin:0 auto;
  background-color:rgb(75, 121, 7) ;
}
h1 {
  position: relative;
  top: 27px;
  text-align:center;
  color: white;
}
h2.ecc {
  position: relative;
  top: 147px;
  text-align:center;
  color: white;
}
h2.ecw{
  position: relative;
  top: 157px;
  text-align:center;
  color: white;
}