.footer {
  height: 4em;
  background-color: rgba(78, 211, 12, 1);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
p {
  position: relative;
  top: 0.5em;
  left: 15em;
  width: 45em;
}
.icon {
  margin-left: 0.25em;
}
.sm {
  width: 25em;
  position: relative;
  left: 65em;
  bottom: 0.25em;
}
@media screen and (max-width: 768px) {
  .footer {
    width: 48em;
    height: 8.75em;
    position: relative;
    top: 0.6em;
  }
  footer p {
    position: relative;
    left: 2.5em;
  }
  .sm {
    top: 1.875em;
    left: 16em;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    position: relative;
    top: 60.625em;
    display: flex;
    flex-direction: column;
    width: 23.4em;
  }
  .footer p {
    width: 17.5em;
    position: relative;
    left: 3.125em;
    text-align: center;
  }
  .sm {
    width: 10em;
    top: 0.2em;
    left: 7em;
  }
}
