.footer {
  height: 4em;
  background-color: rgba(78, 211, 12, 1);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
p {
  position: relative;
  top: 10px;
  left: 240px;
  width: 720px;
}
.icon {
  margin-left: 5px;
}
.sm {
  width: 400px;
  position: relative;
  left: 1040px;
  bottom: 5px;
}
@media screen and (max-width: 768px) {
  .footer {
    width: 768px;
    height: 140px;
    position: relative;
    top: 10px;
  }
  footer p {
    position: relative;
    left: 40px;
  }
  .sm {
    top: 30px;
    left: 256px;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    position: relative;
    top: 970px;
    display: flex;
    flex-direction: column;
    width: 375px;
  }
  .footer p {
    width: 280px;
    position: relative;
    left: 50px;
    text-align: center;
  }
  .sm {
    width: 180px;
    top: 15px;
    left: 110px;
  }
}
