* {
  box-sizing: border-box;
}
.aroma {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
 h2.cbh2 {
  color: rgb(93, 243, 18);
  text-align: end;
}
.curios {
  display: flex;
  flex-direction: column;
}
.floral,
.fresh,
.orient,
.woody {
  position: relative;
  top: 40px;
  left: 260px;
  padding: 32px 26.5px 15px;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 1px #000;
  border: 6px double black;
  background-color: rgb(78, 211, 12);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(214, 233, 11, 0.885)
  );
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.6),
    inset -4px -4px 3px rgba(0, 0, 0, 0.6);
  outline: none;
}
.perfOne,
.perfTwo,
.perfThree,
.perfFour {
  height: 130px;
  width: 500px;
  background-color: rgb(55, 54, 56);
}
p.fl,
p.fr,
p.or,
p.wo {
  margin-left: 50px;
  text-align: left;
  font-size: 2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(241, 70, 8);
}
.sntwl {
  margin-top: 40px;
  margin-left:120px;
  width:500px;
}
.wheel{
  width:720px;
  height:575px;
  background: linear-gradient(rgb(235, 143, 110),rgb(241, 70, 8));
}
