.bird {
  position: relative;
  top: 4.375em;
  left: 2.5em;
  height: 10em;
  width: 10em;
  border: 0.25em solid yellow;
  visibility: visible;
}
.blue1,
.chick {
  visibility: hidden;
}
body {
  width: 90em;
  background: linear-gradient(rgb(55, 54, 56), rgb(78, 211, 12));
}
.box2 {
  display: flex;
  flex-direction: column;
  height: 32.5em;
  width: 18.75em;
}
.box3 {
  height: 32.5em;
  width: 9.375em;
}
img.bubble {
  position: relative;
  left: 1.75em;
  height: 32.5em;
  visibility: visible;
}
.contact1 {
  position: relative;
  bottom: 3.6em;
  left: 2em;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}
.contact1:hover {
  background-color: rgb(255, 111, 0);
  color: darkslateblue;
}
img.front {
  content: url(Images/aw-front.png);
  position: relative;
  left: 1em;
}
img.front2 {
  width: 0em;
  visibility: hidden;
}
footer {
  visibility: visible;
}
.green1 {
  position: relative;
  top: 8.125em;
  left: 2.5em;
  height: 9.375em;
  width: 10em;
  border: 0.25em solid yellow;
  visibility: visible;
}
h2.hph2 {
  position: relative;
  left: 1em;
  top: 0;
  padding: 0.6em;
  height: 1.9em;
  width: 10em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  align-items: center;
}
section.main {
  display: flex;
  flex-direction: row;
  width: 90em;
  height: 32.5em;
}

@media screen and (max-width: 768px) {
  .bird,
  .front,
  .green1 {
    width: 0em;
    height: 0em;
    visibility: hidden;
  }
  .blue1 {
    width: 9em;
    height: 9em;
    margin: 0.5em;
    visibility: visible;
    position: relative;
    top: 5em;
    left: 1.5em;
    border: 0.25em solid yellow;
  }
  body {
    width: 768px;
    height: 842px;
    background: linear-gradient(rgb(55, 54, 56), rgb(78, 211, 12));
  }
  .box1 {
    position: relative;
    top: 20px;
    left: 30px;
    width: 200px;
    height: 80px;
  }
  .box2 {
    width: 230px;
    height: 33.2em;
  }
  .box3 {
    position: relative;
    visibility: visible;
    height: 33.2em;
  }
  .chick {
    visibility: visible;
    position: relative;
    left: 2em;
    height: 8.5em;
    width: 8.5em;
    border: 0.25em solid yellow;
  }
  .contact1 {
    position: relative;
    top: 10em;
  }
  h2.hph2 {
    width: 8.75em;
  }
  img.bubble {
    position: relative;
    left: 5em;
    height: 33.2em;
  }
  img.front {
    width: 0px;
    visibility: hidden;
  }
  img.front2 {
    content: url(Images/aw-front2.png);
    width: 24em;
    visibility: visible;
    position: relative;
    border: 4mm ridge rgba(85, 76, 88, 0.5);
  }
  section.main {
    width: 768px;
  }
}
@media screen and (max-width: 375px) {
  body {
    width: 23.4em;
    height: 138em;
    background: linear-gradient(rgb(55, 54, 56), rgb(78, 211, 12));
  }
  .bird,
  .front,
  .green1 {
    width: 0em;
    height: 0em;
    border: none;
    visibility: hidden;
  }
  .box2 {
    width: 23.4em;
    height: 30em;
  }
  .box3 {
    width: 23.4em;
    height: 40em;
  }
  .contact1 {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    left: 0em;
  }

  h2.hph2 {
    text-align: center;
    width:14em;
  }
  .chick {
    width: 8em;
    height: 8em;
    left: 9em;
    top: 2em;
  }
  .blue1 {
    align-self: center;
    width: 8em;
    height: 10em;
  }
  img.bubble {
    border: 0.25em solid yellow;
    position: relative;
    left: 9.5em;
    top: 7.5em;
  }
  img.front2 {
    width:23.25em;
    position: relative;
    top: 6em;
  }
  section.main {
    display: flex;
    flex-direction: column;
    width: 375px;
  }
}
