.bird {
  position: relative;
  top: 70px;
  left: 40px;
  height: 150px;
  width: 150px;
  border:2px solid yellow;
  visibility: visible;
}
.blue1,
.chick {
  visibility: hidden;
}
body {
  width: 1440px;
  background: linear-gradient(rgb(55, 54, 56), rgb(78, 211, 12));
}
.box2 {
  display: flex;
  flex-direction: column;
  height: 520px;
  width: 300px;
  background: linear-gradient(rgb(55, 54, 56), rgb(78, 211, 12));
}
.box3 {
  height: 520px;
  width: 150px;
}
.bubble {
  position: relative;
  left:35px;
  height: 520px;
  visibility: visible;
}
.contact1 {
  position: relative;
  bottom: 70px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}
.contact1:hover {
  background-color: rgb(255, 111, 0);
  color: darkslateblue;
}
img.front {
  content: url(Images/aw-front.png);
  position: relative;
  left: 5px;
}
img.front2 {
  width:0px;
  visibility: hidden;
}
footer{
  visibility: visible;
}
.green1 {
  position: relative;
  top: 130px;
  left: 40px;
  height: 150px;
  width: 150px;
  border:2px solid yellow;
  visibility: visible;
}
.hph2 {
  position: relative;
  left: 10px;
  top:0px;
  padding: 10px;
  height: 30px;
  width: 200px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  align-items: center;
}
section.main {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 510px;
}

@media screen and (max-width: 768px) {
  .bird,
  .front,
  .green1
   {
    visibility: hidden;
  }
  .blue1 {
    width:130px;
    height:150px;
    margin: 10px;
    visibility: visible;
    position: relative;
    bottom: 170px;
    left:25px;
    border:2px solid yellow;
  }
  body {
    width: 768px;
    height:1024px;
    background: linear-gradient(rgb(55, 54, 56), rgb(78, 211, 12));
  }
  
  .box1 {
    position: relative;
    top: 20px;
    left: 30px;
    width: 200px;
    height: 80px;
  }
  .box2 {
    width: 230px;
  }
  .box3 {
    position: relative;
    visibility: visible;
  }
  img.bubble {
    position: relative;
    left:5.5em;
  }
  .chick {
    margin: 10px;
    visibility: visible;
    position: relative;
    bottom:250px;
    left: 30px;
    height: 120px;
    width: 120px;
    border:2px solid yellow;
  }
  img.front{
    width:0px;
    visibility:hidden;
  }

  img.front2 {
    content: url(Images/aw-front2.png);
    width:350px;
    margin: 10px;
    visibility: visible;
    position: relative;
    left:45px;
    top: 10px;
    border: 4mm ridge rgba(85, 76, 88, 0.5);
  }
  section.main {
    width: 768px;
  }
}
@media screen and (max-width: 375px) {
body{
  width:375px;
  height:2200px;
  background: linear-gradient(rgb(55, 54, 56), rgb(78, 211, 12));
}
  .box2{
  width:375px;
}
.box3{
  width:375px;
}
.hph2{
  position: relative;
  left:90px;
}
.chick{
  left:180px;
}
.blue1{
  left:60px;
}
img.bubble{
  position: relative;
  left:10em;
  top:10px;
}
img.front2{
  position: relative;
  left:3.5px;
}
section.main{
  display:flex;
  flex-direction:column;
  width:375px;
}

}